@model AspNetMVC_aula01.Models.ModAluno

@{ 
    ViewBag.Title = "Cadastro de Aluno";
}

<br />

@using (Html.BeginForm("ExibeCadastroAluno","CadastroAluno",null, FormMethod.Post))
{
<fieldset>
    <legend>Cadastro Aluno</legend>

    <div>
        @Html.LabelFor(model => Model.idAluno)
    </div>
    <div>
        @Html.TextBoxFor(model => Model.idAluno)
    </div>

    <div>
        @Html.LabelFor(model => Model.nome)
    </div>
    <div>
        @Html.TextBoxFor(model => Model.nome)
    </div>
   
    <div>
        @Html.LabelFor(model => Model.email)
    </div>
    <div>
        @Html.TextBoxFor(model => Model.email)
    </div>
    <br />
    <div>
        <input type="submit" value="salvar" />
    </div>

</fieldset>
}