@* Using RAZEL model to improve the sintax *@

@* It will refers to model class and its attributes*@
@model AspNetMVC_aula01.Models.ModAluno

@{
    ViewBag.Title = "Cadastro de Aluno"; @* it shows the title on browser *@
}

<br />

@* Writes an opening <form> tag to the response and sets the action tag to the specified controller and action *@

@*  PARAMETERS FROM BEGINFORM
    
    BeginForm( ActionName, ControllerName, FormMethod )
*@
@using (Html.BeginForm("ExibeCadastroAlunoTipado", "CadastroAluno", null, FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cadastro Aluno</legend>

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.idAluno)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => Model.idAluno)
            </div>
        </div>
        @Html.ValidationMessageFor(model => Model.idAluno)

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.nome)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => Model.nome)
            </div>
        </div>
        @Html.ValidationMessageFor(model => Model.nome)

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => Model.email)
            </div>
        </div>
        @Html.ValidationMessageFor(model => Model.email)

        <br />
        <div>
            <input type="submit" value="salvar" />
        </div>

    </fieldset>

    // It serves to run jqueryval on BundleConfig.cs (~/App_Start) to validate 
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")    
        }

}