@model AspNetMVC_aula01.Models.ModAluno

@{
    ViewBag.Title = "Exibe Cadastro de Aluno Tipado";
}

<br />
<fieldset>
    <legend>Aluno cadastrado:</legend>
    <div>
        <strong>@Html.LabelFor(model => model.idAluno): </strong>@Html.DisplayFor(model => model.idAluno)
    </div>
    <div>
        <strong>@Html.LabelFor(model => model.nome): </strong>@Html.DisplayFor(model => model.nome)
    </div>
    <div>
        <strong>@Html.LabelFor(model => model.email): </strong>@Html.DisplayFor(model => model.email)
    </div>
</fieldset>
